<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FilterName</key>
		<string>GPUImagePolarPixellateFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>Center</key>
			<string>{0, 0}</string>
			<key>Size</key>
			<string>{0.01, 0.1}</string>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageCannyEdgeDetection</string>
		<key>FilterAttributes</key>
		<dict/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImagePixellateFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>FractionalWidthOfAPixel</key>
			<real>0.03</real>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageGaussianBlurFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>BlurSize</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageHalftoneFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>FractionalWidthOfAPixel</key>
			<real>0.03</real>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageCrosshatchFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>CrossHatchSpacingUniform</key>
			<real>0.03</real>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageSmoothToonFilter</string>
		<key>FilterAttributes</key>
		<dict/>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageBulgeDistortionFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>Center</key>
			<string>{0, 0}</string>
			<key>Scale</key>
			<real>0.03</real>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageKuwaharaFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>Radius</key>
			<real>2</real>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageHueFilter</string>
		<key>FilterAttributes</key>
		<dict>
			<key>Hue</key>
			<integer>90</integer>
		</dict>
	</dict>
	<dict>
		<key>FilterName</key>
		<string>GPUImageSketchFilter</string>
		<key>FilterAttributes</key>
		<dict/>
	</dict>
</array>
</plist>
